@model QuizApplication.Models.AvatarViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Részletek</h2>

<div>
    <h4>Avatar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceString)
        </dt>

        <dd>
            <img src="@Model.SourceString"/>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Szerkesztés", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Vissza", "Index")
</p>
